{% extends "core/base_core.html" %}

{% load i18n %}

{% block title %}
Cattlea
{% endblock %}

{% block main %}
<div class="container">

    <h4>Latest</h4>
    <div class="card-deck">
        {% for item in last_added %}
        <a href="{% url 'core:product' item.model_code %}">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="{{ item.image.url }}" width="70" height="auto" alt="shoe">
                <div class="card-body">
                    {{ item.model_code }}
                </div>
                <div class="card-footer">
                    {% load humanize %}
                    </h5>{{ item.price|intcomma }} &#1423;</h5>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <h4>Men</h4>
    <div class="card-deck">
        {% for item in men_shoes %}
        <a href="{% url 'core:product' item.model_code %}">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="{{ item.image.url }}" width="70" height="auto" alt="shoe">
                <div class="card-body">
                    {{ item.model_code }}
                </div>
                <div class="card-footer">
                    {% load humanize %}
                    </h5>{{ item.price|intcomma }} &#1423;</h5>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <h4>Women</h4>
    <div class="card-deck">
        {% for item in women_shoes %}
        <a href="{% url 'core:product' item.model_code %}">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="{{ item.image.url }}" width="70" height="auto" alt="shoe">
                <div class="card-body">
                    {{ item.model_code }}
                </div>
                <div class="card-footer">
                    {% load humanize %}
                    </h5>{{ item.price|intcomma }} &#1423;</h5>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <h4>Accessories</h4>
    <div class="card-deck">
        {% for item in accessories %}
        <a href="{% url 'core:product' item.model_code %}">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="{{ item.image.url }}" width="70" height="auto" alt="accessories">
                <div class="card-body">
                    {{ item.model_code }}
                </div>
                <div class="card-footer">
                    {% load humanize %}
                    </h5>{{ item.price|intcomma }} &#1423;</h5>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}