{% extends "base.html" %}

{% load i18n %}

{% block head %}
{% endblock %}

{% block title %}
    {% trans "Login" %}
{% endblock %}

{% block body %}
    {% trans "Login" %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">{% trans "Login" %}</button>
        </form>
        <br>
        <hr>
        <p style="font-size: small;"><a href="{% url 'authentication:register' %}">{% trans "Register" %}</a> {% trans "if you don't have account" %}</p>
    </div>
{% endblock %}
