{% extends "carts/base_cart.html" %}

{% load i18n %}

{% block head %}

{% endblock %}

{% block title %}
    {% trans "Shopping Cart" %}
{% endblock %}

{% block body %}
    <a href="{% url 'core:index' %}">Home</a>

    {% for item in items %}
        <p>{{ item.user }}</p>

        {% for object in item.items.all %}
            {{ object.item.image.url }}
            {{ object.size }}
            {{ object.color }}
            {{ object.quantity }}
            {{ object.date_added }}
        {% endfor %}
    {% endfor %}
{% endblock %}
