<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load static i18n %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="UTF-8">

    <!--Set the icon-->
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon_dark.png' %}" />

    <!--Custom style-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Custom script-->
    <script src="{% static 'js/scripts.js' %}"></script>

    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}

        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}

    {% endblock %}
</body>
