{% extends "core/base_core.html" %}

{% load i18n %}

{% block title %}
{% trans "Order History" %}
{% endblock %}

{% block main %}
<div class="container">
    {% for order in orders%}
    <div class="card">
        <p>Order Number - {{ order.id }}</p>
        {% for item in order.items.all %}
        <div class="row">
            <div class="col col-sm-2">
                <a href="{% url 'core:product' item.item.model_code %}">
                    <img src="{{ item.item.image.url }}" class="img-thumbnail" width="120" height="auto">
                </a>
            </div>
            <div class="col col-sm-2">
                <p>Size - {{ item.size.size }}</p>
                <p>Color - {{ item.color }}</p>
                <p>Sex - {{ item.item.get_sex_display }}</p>
            </div>
            <div class="col col-sm-6">
                <p>{{ item.item.description }}</p>
            </div>
            <div class="col col-sm-2">
                <p>Qty: {{ item.quantity }}</p>
                <p>Total: {% load humanize %}{{ item.get_price|intcomma }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="row">
            <div class="col col-sm-6">
                <p><small>Shipping Address: {{ order.shipping_address }}</small></p>
            </div>
            <div class="col col-sm-4">
                <p><small>Ordered on: {{ order.ordered_date|date:'j F, Y' }}</small></p>
            </div>
            <div class="col col-sm-2">
                <p>Total: {% load humanize %} {{ order.get_total|intcomma}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}